
/* =================== FONCTIONNEMENT =================== */

.fonctContainer {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    &__box{
        height:75px;
        width:calc(100% - 12.5px);
        background-color:#f6f6f6;
        border-radius:20px;
        margin-bottom:25px;
        position: relative;
        left:6.25px;
        display:flex;
        align-items:center;
        box-shadow: 2px 2px 5px #dfdede ;
        font-size: 19px;
        font-weight: 500;
        @include tablette-only{
            margin-bottom: 35px;
            width:450px;
            &:nth-child(1){
                align-self:flex-start;
            }
            &:nth-child(3){
                align-self:flex-end;
            } 
        }     
        i {
            color: #7e7e7e;
            width:25%;
            display:flex;
            justify-content:center;
            margin-right: -12.5px;
            font-size:22px;
        }
        &--purple{
            background-color: #9356DC20;
            box-shadow: 2px 2px 5px #9356DC40 ;
            i{
                color: #9356DC;
                
            }
        }
    }
}

.fonctionnement h1 {
    margin: 40px 0 25px 0;
}


.fonctContainer__box .puce {
    width:25px;
    height:25px;
    position:absolute;
    left:-12.5px;
    background-color: #9356DC ;
    color:white;
    border-radius:90px;
    display:flex;
    align-items:center;
    justify-content:center;
    line-height: initial;
    font-size:16px;
}

.fonctContainer__box .fa-reply{
    display:none;
    @include tablette-only{
        display:block;
        width:80px;
        height:80px;
        font-size:50px;
        color:#97F1D1;
        transform: rotate(180deg);
        position:absolute;
        left: -110px;
        top: -21px;
        }
}

/* =================== RESTAURANTS =================== */

.restaurant {
    background-color: #f6f6f6;
    margin-top: 40px;
    padding-top:40px;
    padding-bottom:40px;
}

.restaurant h1 {
    margin-bottom: 20px;
}


.restaurant .box-restau {
    display: flex;
    flex-wrap: wrap;
    gap:40px;
}
