

.header {
    &__logo {
        display:flex;
        justify-content:center;
        align-items:center;
        height:65px;
        width:100%;
        box-shadow: 0 2px 10px #c5c5c5 ;
        a{
            color: #4c4c4c;
            font-size: 23px;
            position:absolute;
            left:22px;
        }
        @include desktop-only{
            position:absolute;
            width:auto;
            height:auto;
            box-shadow: none;
            top:20px;
            left:20px;
            svg path {
                fill:#fff;
            } 
        }      
    }

    &__localisation {
        display:flex;
        justify-content:center;
        align-items:center;
        height:50px;
        width:100%;
        background-color:#00000010;
        color: #353535;
        font-weight: 500; 
        p i{
            margin-right: 10px;
            font-size: 20px ;
        }
        @include desktop-only{
            background: none;
            height:auto;
            padding-top: 130px;
            width:512px;
        }
    }

    @include desktop-only{
        background-image: url("../images/Rectangle 3.png");
        background-repeat:no-repeat;
        display:flex;
        height:450px;
        align-items: center;
        justify-content:center;
    }
    &__background {
        background-image: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
        height:260px;
        background-size: cover;
        @include mobilelarge-only{
            height:350px;
        }
        @include tablette-only{
            height:400px;
        }
    }
}


.header .box-localisation{
    display: flex;
    justify-content: center;
    align-items: center;
    em{display: none;}
    input{display: none;}
    @include desktop-only{
        width: 480px;
        height: 200px;
        background: #E1E1E1;
        border-radius: 15px;
        flex-direction: column;
        padding:30px;
        justify-content:space-between;
        box-shadow: 2px 2px 3px #bdbaba;
        em{
            display: block;
            font-style: normal;
            text-align: center;
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
        }
        input{
            display: block;
            align-self: flex-start;
            outline: none;
            width: 350px;
            height: 45px;
            box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
            border-radius: 45px;
            border: none;
            padding: 20px;
        }
        p{
            align-self: flex-start;
            &::before{
                content: "Vous êtes ici :";
                margin-right: 10px;
                font-weight: 300;
            } 
        }
    }

}

/* HEADER MENU */

.headerBis {
    &__logo {
        display:flex;
        justify-content:center;
        align-items:center;
        height:65px;
        width:100%;
        box-shadow: 0 2px 10px #c5c5c5 ;
        a{
            color: #4c4c4c;
            font-size: 23px;
            position:absolute;
            left:22px;
        }
        i{
            font-size:30px;
        } 
   
    }

    &__localisation {
        display:flex;
        justify-content:center;
        align-items:center;
        height:50px;
        width:100%;
        background-color:#00000010;
        color: #353535;
        font-weight: 500; 
        p i{
            margin-right: 10px;
            font-size: 20px ;
        }
    }

    &__image{
        height:260px;
        width: auto;
        overflow:hidden;
        img{
            width: 100%;
            position:relative;
            z-index: -10;
        }
        @include mobilelarge-only{
            height:350px;
        }
        @include tablette-only{
            height:400px;
        }
        @include desktop-only{
            height:500px;
        }
    }
}