

.nav {
    display: flex;
    justify-content:center;
    width: 100%;
    background-color: #f6f6f6;
    &__explore{
        display:flex;
        flex-direction: column;
        align-items:center;
        text-align: center;
        height:290px;
        @include tablette-only{
            height: 220px;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 30px;
        }
        h1 {
            margin-top:35px;
            @include tablette-only{
                width:100%;
            }
            @include desktop-only{
                position: absolute;
                top: -140px;
                left: -240px
            }
        }
        p {
            font-size:18px;
            margin: 10px  0 35px 0;
            @include tablette-only{
                width:50%;
                margin: auto 0;
            }
            @include desktop-only{
                font-size: 20px;
                font-weight: 400;
                line-height: 23px;
                width: 360px;
            }
        }
    }
    @include desktop-only{
        background:none;
        width:512px;
        padding-top:250px;
    }
}






