
* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 28px;
    font-weight:700;
}

h2 {
    font-family: 'Shrikhand', cursive;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
    font-size:24px;
    margin-bottom:-30px;
}

h3 {
    margin-bottom:20px;
    font-family: 'Shrikhand', cursive;
    font-weight:200;
}

h4 {
    font-size: 20px;
    font-weight: 350;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 40px;
}

.center {
    margin: 0 auto;
    position: relative;
    @include mobile-only{
        width:320px; 
    }
    @include mobilelarge-only{
        width:460px;
    }
    @include tablette-only{
        width:740px; 
    }
    @include desktop-only{
        width:1024px;
    }
}

.center2{
    margin: 0 auto;
    position: relative;
    @include mobile-only{
        width:320px; 
    }
    @include mobilelarge-only{
        width:460px;
    }
    @include tablette-only{
        width:740px; 
    }
    @include desktop-only{
        width:1024px;
    }
}
